[Unit]
Description=Run Demigod memguard every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=demigod-memguard.service

[Install]
WantedBy=timers.target
